{% extends "layout.html" %}
{% block title %} 
Configuration 
{% endblock %}

{% block head %} 
{{super()}} 

{% endblock %}

{% block content %}
    <div class="jumbotron bg-light">
        <h2 class="text-center"> Configuraciones </h2>
        <h3 class="text-center mt-5"> Vistas </h3>
        </br>
        <div class="row">
            <h5>Paginado</h5>
            <p>Selecciona la cantidad de items que se presentaran en cada listado del sistema</p>
            <select name="items-per-page" class="form-control w-25">
                <option selected>5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>
        </div>
          <h5 class="mt-2">Ordenacion</h5>
          <p>Seleccione para cada vista, el criterio de ordenacion</p>
          <div class="row">
            <div class="col-6 bg-dark bg-opacity-10 border border-dark">
                <h4 class="text-center"> Usuarios </h4>
                    <div class="row">
                        <div class="col-8">
                            <select name="user-col-selected" class="form-select">
                                <option selected>Tag de usuario</option>
                                <option value="1">Nombre</option>
                                <option value="2">Apellido</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select name="order-of-column-users" class="form-select" id="">
                                <option selected>ASC</option>
                                <option value="1">DESC</option>
                            </select>
                        </div>
                        </select>
                    </div>      
           </div>
           <div class="col-6 bg-dark bg-opacity-10 border border-dark">
            <h4 class="text-center"> Consultas </h4>
                <div class="row">
                    <div class="col-8">
                        <select name="user-col-selected" class="form-select">
                            <option selected>Fecha de creacion</option>
                            <option value="1">Categoria</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <select name="order-of-column-users" class="form-select" id="">
                            <option selected>ASC</option>
                            <option value="1">DESC</option>
                        </select>
                    </div>
                    </select>
                </div>      
       </div>
      </div>
    </div>
    {% endblock %}
          <!-- <div class="row">
            <div class="col-6">
                <strong class="text-center"> Usuarios </strong>
                    <select name="sort-order-selec3tion" class="form-select w-25">
                        <option selected>Usuarios</option>
                        <option value="1">Consultas</option>
                        <option value="2">Puntos de encuentro</option>
                    </select> 
                    <p> Selecciona la columna por la cual se va a hacer el ordenamiento y si va a ser ascendente o descendente</p>
                    <select name="sort-order-selection" class="form-select w-25" aria-label="Seleccion de criterio de ordenacion">
                        <option selected>Columna 1</option>
                        <option value="1">Columna 2</option>
                        <option value="2">Puntos de encuentro</option>
                    </select> 

            </div>
          </div> -->
        <!-- <div>
            

        </div>
        
            <div class="row">
               
                <div class="col-6">
                    <p>Selecciona la seccion de la cual va a configurar su ordenamiento</p>
                    <select name="sort-order-selection" class="form-select w-25" aria-label="Seleccion de criterio de ordenacion">
                        <option selected>Consultas</option>
                        <option value="1">Categoria de bug</option>
                        <option value="2">Fecha de creacion</option>
                    </select> 
                    <p> Selecciona la columna por la cual se va a hacer el ordenamiento y si va a ser ascendente o descendente</p>
                    <select name="sort-order-selection" class="form-select w-25" aria-label="Seleccion de criterio de ordenacion">
                        <option selected>Columna 1</option>
                        <option value="1">Columna 2</option>
                        <option value="2">Puntos de encuentro</option>
                    </select> 
                </div>
                <div class="col-6">
                    <p>Selecciona la seccion de la cual va a configurar su ordenamiento</p>
                    <select name="sort-order-selection" class="form-select w-25" aria-label="Seleccion de criterio de ordenacion">
                        <option selected>Puntos de encuentro</option>
                        <option value="1">Categoria de bug</option>
                        <option value="2">Fecha de creacion</option>
                    </select> 
                    <p> Selecciona la columna por la cual se va a hacer el ordenamiento y si va a ser ascendente o descendente</p>
                    <select name="sort-order-selection" class="form-select w-25" aria-label="Seleccion de criterio de ordenacion">
                        <option selected>Columna 1</option>
                        <option value="1">Columna 2</option>
                        <option value="2">Puntos de encuentro</option>
                    </select> 
                </div>
            </div>
           

               
                
                    <h5 class="mt-2">Color de fondo</h5>
                       <p> Seleccione el color para el fondo de su pantalla</p>                   
                    <input type="color" name="selected=color">
               
                
    
            
        

        
    </div> -->
    



{% block footer %}
<h1> Config Footer </h1>
{% endblock %}
